{% extends "base.html" %}
{% load app_filters %}
{% block title %} ICD Search{% endblock %}
{% block sidebar_icd %}active{% endblock %}
{% block body_header %}
    ICD Search
    {#    <br>#}
    {#    <a class="btn btn-success btn-sm" href="/employee/create" role="button">Add Employee</a>#}
{% endblock %}
{% block body %}

    <form action="{% url 'server:icd/search_view' %}" method="POST">
{#    <input type="text" name="q" placeholder="Search...">#}
{#    <button type="submit">Search</button>#}
    {% csrf_token %}
    <div class="" style="padding-bottom: 40px">
        <h1>Search</h1>
        <div class="search-box">
            <input class="form-control" name="q" type="text" id="searchInput" placeholder="Enter your search...">
            <br>
            <button class="btn btn-success btn-lg" type="submit" id="searchButton">Search</button>
        </div>

    </div>
    </form>
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
        <th>ID</th>
        <th>Title</th>
        <th>StemId</th>
        <th>score</th>
{#        <th>Address</th>#}
{#        <th>Employment Status</th>#}
        <th data-dafultsort="disabled">Options</th>
        </thead>
        <tbody>
        {% for data in query %}

            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.title | striptags }} </td>
                <td>{{ data.stemId }}</td>
                <td>{{ data.score }}</td>
{#                <td>{{ data.address }}</td>#}
                <td>
                    {% if user.account.role == 30 %}
                        <a class="btn btn-warning btn-sm" href="/icd/view_entity?pk={{ data.id }}"
                           role="button">View</a>
                        <a class="btn btn-warning btn-sm" href="/icd/create_icd_diagnosis?pk={{ data.id }}"
                           role="button">Diagnosis</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script src="script.js"></script>
    {% include "virtualclinic/admin/symptom_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });

        function configureModal(pk, name) {
            document.getElementById('symptom-modal-body').innerHTML = 'Are you sure you want to delete the symptom '.concat(name, '?');
            document.getElementById('symptom-modal-hidden').value = pk;
        }

        let typingTimer;
        const doneTypingInterval = 1000;  // 1 second

        const selectField = document.getElementById("dynamic-select");

        selectField.addEventListener("input", function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(getData, doneTypingInterval);
        });

        function getData() {
            const selectedValue = selectField.value;
            console.log("Selected value:", selectedValue);
            // Call your function or perform actions with the selected value here
        }

    </script>
{% endblock %}